@font-face {
	font-family: 'edunline';
	src: url('./edunline.eot');
	src: local('edunline'), url('./edunline.woff') format('woff'), url('./edunline.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_864">Text with this font applied</p> */
.fontsforweb_fontid_864 {
	font-family: 'edunline' !important;
}

/* Font downloaded from FontsForWeb.com */